header.header#header
    nav.nav.container
        a.nav__logo
            i.ri-steering-line 
            p Elecar
        .nav__menu#nav-menu
            ul.nav__list
                li.nav__item: a.nav__link(href="#home") Home
                li.nav__item: a.nav__link(href="#about") About
                li.nav__item: a.nav__link(href="#popular") Popular
                li.nav__item: a.nav__link(href="#featured") Featured
            .nav__close#nav-close: i.ri-close-line
        .nav__toggle#nav-toggle: i.ri-menu-line